@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(40px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.container {
  display: flex;
  justify-content: center;
  padding: 32px;
  background: linear-gradient(to right, #e0f7fa, #ffffff);
  animation: fadeInUp 1s ease-out;
}

.card {
  max-width: 600px;
  padding: 32px;
  border-radius: 16px;
  /* background-color: #ffffff; */
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.title {
  font-size: 2.5rem;
  color: #00796b;
  margin-bottom: 16px;
  animation: fadeInUp 1.2s ease-out;
}

.description {
  font-size: 16px;
  color: #333333;
  margin-bottom: 24px;
  animation: fadeInUp 1.4s ease-out;
}

.author {
  font-size: 16px;
  color: #555555;
  margin-bottom: 8px;
  animation: fadeInUp 1.6s ease-out;
  font-weight: 900;
}

.email {
  font-size: 16px;
  color: #00796b;
  text-decoration: none;
  font-weight: bold;
  animation: fadeInUp 1.8s ease-out;
}

.email:hover {
  text-decoration: underline;
}
